<h1 style="text-align: center;">{{titulo}}</h1>

<form>
    <input type="text" name="nombre" [(ngModel)]="nombre"><br/>

    <input type="text" name="apellido" [(ngModel)]="apellido"><br/>

    <input type="submit" value="Registrar" (click)="registrarUsuario()">
</form>

<br/>

<p *ngIf="registrado; else sinRegistrar">{{mensaje}} con el nombre de {{nombre}} {{apellido}}</p>

<ng-template #sinRegistrar>

    <p>Nadie registrado</p>

</ng-template>

<br><br>
<!--Utilizaremos una lista-->

<!--Vayn apareciendo las entradas en los li-->
<ul>
    <li *ngFor="let entrada of entradas; let i=index"><span style="font-size:larger; font-weight:bold;">{{entrada.titulo}}</span>
    . Entrada {{i+1}}</li><!--Defineme una variable que llamo entrada para cada elemento que haya en el array entradas, luego mostramos la informacion, doble llave {{nombredelavariable.propiedadamostrar}}-->
</ul>